# Object files
*.o
*.ko
*.obj
*.elf
*.pyc
*.dat
*.log
*.out
*.csv
.coverage*
# Ignored folders
cpp/build/
build/
release/
dist/
.vscode/
eggs/
.eggs/
*.egg-info/
*.egg
# temps
core*
report*
CMakeCache.txt

